



.red-paragraph{
    color: chartreuse;
}
.red-header {
color:red;

}
.green {
    color: green;

}


.blue {
    color: blue;

}
.team-section{
    background-color: bisque;
}
.purple p {
color: purple;


}

